body{
	margin: 0px;
	font-family: sans-serif;
}
img{
	width: 100%;

}

.container{
	background-color: #e3e3e3;
}

h1 #facebook{
	font-color: white;
}

.facebook{
	background-color: blue;
}

.blue{
	background-color: blue;
}

.ahm{
	background-color: 	#3b5998;
	width: 100%;
	padding-bottom: 0px;
	margin: 0px;
	height: 80px;


}

.fb{
	float: left;
}

.inline{
	display: inline;
}
.td1{
	width: 70%;
}
.td2, .td3, .td4{
	width: 10%;
	padding-top: 5px;
}

.td1{
	padding-left: 180px;
	
}
table{
	width: 100%;
}